#genre{
    border-radius: 8px ;
    border-color: black;
    background-color: white;
    border-style: solid;
    height:25px;
    width:250px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    z-index: 15px;
    align-items: center;
}

.rappele{
    align-items: center;
    display: inline-block
}


.champs{
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

img{
    width: 30px;
}

/* Bordures rouges pour les champs invalides */
input.error, select.error {
    border-color: red;
    background-color: #ffe6e6;
}

/* Messages d'erreur */
.error-message {
    color: red;
    font-size: 0.8rem;
    display: none; /* Masqué par défaut */
}

/* Bouton désactivé */
.disabled {
    pointer-events: none; /* Empêche le clic */
    color: rgb(245, 12, 12);
    text-decoration: none;
    cursor: not-allowed; /* Montre un curseur bloqué */
}

/* Bouton activé */
.enabled {
    pointer-events: auto; /* Permet le clic */
    color: rgb(30, 220, 17);
    text-decoration: none;
    cursor: pointer;
}
