#genre{
    border-radius: 8px ;
    border-color: black;
    background-color: white;
    border-style: solid;
    height:25px;
    width:250px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    z-index: 15px;
    align-items: center;
}

.rappele{
    align-items: center;
    display: inline-block
}


.champs{
    box-shadow: 5px 5px rgba(0,0,0,0.5);
}

