body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.messagerie {
    width: 100%;
    max-width: 50%; 
    background-color: #ffffff;
    border-radius: 20px; 
    box-shadow: 5px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.barre {
    background-color: #d3e0dc; 
    padding: 15px 10px; 
    text-align: left;
    color: black; 
}

.sujet {
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px; 
}

.boite {
    height: 700px;
    background: linear-gradient(to bottom, #50e3c2, #49DCEC); 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.ctrle-message {
    height: 100%;
    overflow: hidden;
}

.message-display {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.message-container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin-bottom: 10px;
}

.message-container.sent {
    align-self: flex-end;
}

.message-container.received {
    align-self: flex-start;
}

.emoji-list {
    display: flex;
    margin-left: 5px;
    margin-bottom: 2px;
}

.emoji-list span {
    margin-right: 3px;
    cursor: pointer;
    font-size: 20px; 
}

.message {
    padding: 8px 12px; 
    border-radius: 18px; 
    word-break: break-word;
    white-space: pre-wrap;
    box-sizing: border-box;
    font-size: 14px; 
    line-height: 1.4; 
}

.message.sent {
    background-color: #e8f0fe; 
    align-self: flex-end;
    text-align: right;
    box-shadow: none; 
}

.message.received {
    background-color: white;
    align-self: flex-start;
    text-align: left;
    box-shadow: none;
}

.Ecriture {
    display: flex;
    padding: 10px;
    background-color: #e8f0fe; 
    border-top: none; 
    align-items: center;
}

.barre-message {
    flex-grow: 1;
    padding: 8px 16px; 
    font-size: 14px;
    border: none;
    border-radius: 20px; 
    outline: none;
    box-shadow: none;
}

.envoie {
    margin-left: 10px;
    padding: 8px 15px;
    font-size: 14px;
    background-color: #007aff; 
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: none;
    transition: 0.5;
}

.envoie:hover{
    background-color: #50e3c2;
}

.envoie:active {
    box-shadow: none;
    transform: none;
}

#emojiSelect {
    background-color: #50e3c2;
    border: none;
    border-radius: 15px;
    font-size: 24px; 
    margin-left: 10px; 
    box-shadow: 60px;
    transition: 0.5;

}

#emojiSelect:hover{
    background-color: #50e3c2;
}



.message-container button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    background-color: #007aff; /* Couleur au choix */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
