/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header Styles */
#header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alignement à gauche */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky; /* Pour que le header reste en haut */
    top: 0;
    z-index: 10; /* Pour s'assurer que le header reste au-dessus du contenu */
}

#retour {
    width: 40px; /* Plus petite image de retour */
    margin-right: 20px;
    cursor: pointer; /* Indique que l'image est cliquable */
    transition: transform 0.2s ease;
}

#retour:hover {
    transform: scale(1.1); /* Effet de zoom au survol */
}

#titre {
    display: flex;
    align-items: center;
    color: #2c3e50;
    font-size: 1.8em;
    font-weight: 500;
    margin: 0;
    margin-left: 35%;
}

#para {
    width: 35px;
    margin-right: 15px;
}

/* Main Content Styles */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

#all, #allde {
    margin-bottom: 30px;
}

.setting-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 15px 0;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.setting-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    cursor: pointer;
}

.setting-item i {
    font-size: 20px;
    margin-right: 20px;
    color: #3498db; /* Couleur bleue pour les icônes */
    width: 30px; /* Largeur fixe pour l'icône */
    text-align: center; /* Centre l'icône dans son espace */
}

.setting-item h2 {
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    flex-grow: 1; /* Permet au titre de prendre l'espace restant */
}

/* Style pour les actions dangereuses */
.setting-item.danger {
    background-color: #ffe6e6;
}

.setting-item.danger i {
    color: #e74c3c; /* Couleur rouge pour les icônes d'actions dangereuses */
}

/* Bouton de Déconnexion Stylisé */
#allde .setting-item:last-child {
    background-color: #3498db;
    color: white;
}

#allde .setting-item:last-child i {
    color: white;
}

#allde .setting-item:last-child:hover {
    background-color: #2980b9;
}

/* Footer Styles (Optional) */
footer {
    text-align: center;
    padding: 10px;
    background-color: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

